<h5 class="hidden-phone">모의투자 세부정보</h5>

증권사 : <%= @investment.stock_firm.name %>
보유기간 : <%= @investment.start_date %>
전체자산 : <%= @investment.total_asset %>
각 추천 투자자산 : <%= @investment.invest_asset %>
현재 수익금액 : -
현재잔액 : -
