
<h4>최신종목추천</h4>

<%= render :partial => 'recommendations/recommendations', :locals => { :recommendations => @recommendations } %>

<%= will_paginate @recommendations, :previous_label => t("<<"), :next_label => t(">>"), :page_gap => t("...") %>


<%= link_to '더 보기', recommendations_path(:page => @recommendations.next_page), :class => 'load-more-recommendations', :remote => true if @recommendations.next_page %>

