<div id="reason-in-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>추천사유</h3>
  </div>
  <div class="modal-body">
    <h6 id="reason-in-modal-title"></h6>
      <pre id="reason-in-modal-detail">

      </pre>
  </div>
</div>

<h5>최신종목추천</h5>

<%= render :partial => 'recommendations/recommendations', :locals => { :recommendations => @recommendations } %>

<%= will_paginate @recommendations, :renderer => BootstrapPagination::Rails %>


<!--
<%= link_to '더 보기', recommendations_path(:page => @recommendations.next_page), :class => 'load-more-recommendations', :remote => true if @recommendations.next_page %>
-->
