<h3>API Documents</h3>

<hr/>
<h4>모의투자 내역</h4>
<div>
  <ul>
    <li>개요 : 특정 사용자의 모의투자 내역을 받아온다. 이를 이용하여 실제 투자에 연동할 수 있다.</li>
    <li>주소 : http://www.stockrank.kr/api/v1/signals</li>
    <li>요청방식 : GET</li>
  </ul>
</div>

<div>
  <h5>Parameters</h5>
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>name</th>
      <th>type</th>
      <th>description</th>
      <th>example</th>
    </tr>
    </thead>
    <tbody>
        <tr>
          <td>auth_token</td>
          <td>String</td>
          <td>user의 인증 토큰</td>
          <td>pRuAcW7GyzRPb9Z9K6im</td>
        </tr>
    </tbody>

  </table>

</div>
<div>
  예제입력 : <a href="http://www.stockrank.kr/api/v1/signals?auth_token=pRuAcW7GyzRPb9Z9K6im" target="_blank">http://www.stockrank.kr/api/v1/signals?auth_token=pRuAcW7GyzRPb9Z9K6im</a>
</div>
