<div class="span8 app-info">
  <p>
  <img src="/img/logo.png">
  주식 투자하시는 분!<br />
  증권사 추천종목이 실제로 얼마나 오르고 내릴까요?   <br />
  <br />
  <br />
  증권사 추천종목들을 정리하고 기간 별 평균 수익률을 분석해 보여주는 서비스가 있습니다.<br />
  한양증권의 경우 최근 6개월간 추천 종목을 익일 시가에 구매해서 30일 후에 팔면 1달에 평균 6% 이상의 수익률을 올릴 수 있음을 볼 수 있습니다.  <br />
  <br />
  증권사들이 추천해주는 종목의 수익률과 리스크를 분석하고  <br />
  랭킹(순위)을 매겨주는 서비스  <br />
  <h4>"증권사 추천왕"</h4> 입니다. <br />
  <br />
  <br />
  </p>
</div>
