<script type="text/javascript">
    (function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");
        b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+
                '//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';d=c.getElementsByTagName("script")[0];
        d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){
            var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(
                    Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?g=a[f]=[]:
                f="mixpanel";g.people=g.people||[];h=['disable','track','track_pageview','track_links',
            'track_forms','register','register_once','unregister','identify','alias','name_tag',
            'set_config','people.set','people.increment','people.track_charge','people.append'];
            for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.2;})(document,window.mixpanel||[]);
    mixpanel.init("5656aa59294f5d08d6b14d85c2029828");

    mixpanel.track("Video play");
</script>

<h3>StockCodes</h3>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>이름</th>
      <th>수익률</th>
    </tr>
  </thead>
  <% @stock_firms.each do |stock_firm| %>
      <tr>
        <td><a href="<%= stock_firm_path(stock_firm) %>"> <%= stock_firm.name %> </a></td>

        <% profit = stock_firm.profit %>
        <td class=<%= class_of_profit profit %>><%= profit %> %</td>
      </tr>
  <% end %>
</table>

