/**
 * Created with JetBrains RubyMine.
 * User: tprpc
 * Date: 13. 6. 5.
 * Time: 오후 8:23
 * To change this template use File | Settings | File Templates.
 */

$('.recommendations').append('#{escape_javascript(render partial: "recommendations/recommendations", :locals => { :recommendations => recommendations })}');
$('a.load-more-recommendations').attr('href', '#{recommendation_path page: recommendations.next_page}');

- unless recommendations.next_page
  $('a.load-more-recommendations').remove();