
body{
    font-size:12px;
}

.full-width{
    width:100%;
}

.half-width{
    width:50%;
}

/*
 등락
*/

.up,
.down{
    font-weight: bold;
}

.up {
    color : #e74c3c;
}

.down {
    color : #3498db;
}
/*
위험도
*/
.good {

    color : #25a35a;

}
.bad {
    color : #e74c3c;

}
.perfect {
    color : #3498db;

}

.rank-item  {
    padding: 13px;
    border-radius : 3px;
    background-color : #f5f5f5;

    min-height: 20px;
    margin: 10px;
    border: 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.rank-item .description {
    padding-left:10px;

}
.rank-item h6
{
    margin:0;
    padding-top:0;
    padding-bottom:20px;

}


.rank-item .ranking {
    color: rgba(52, 73, 94, 0.12);
    float:right;
    font-size:50pt;
}

.param
{

    color: #1abc9c;
    font-weight:bold;
}


.modal-body a {

    color:black;

}
.index-param {

    padding-top:10px;
}


/* mobile resolution only */
@media (max-width: 767px) {

    h5,
    .h5 {
        font-size: 20px;
        color: #2ecc71;
        font-weight:bold;

    }
    .input-menu {
        margin-top: -2px;
        margin-left: -5px;
        margin-right: -5px;
                      /*
        background-color: gray;
        height:50px;*/
        text-align:center;
    }

    /*
    .btn.btn-small.phone-btn {
        padding: 8px 8px 8px;
        font-size: 12px;
    }
    /*
    .btn.btn-small.btn-phone.dropdown-toggle {

        padding-left:9px;
        padding-right:9px;
    }
    .btn-group > .btn.btn-phone {

        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    */

    #main{
        margin-left: -15px;
        margin-right: -15px;
        padding-bottom:40px;
        margin-top:-15px;
    }

    .table th, .table td{
        padding:7px 11px;
    }
    .btn.btn-small {
        font-size:13px;
        padding:8px 7px 8px;
    }


}

#rank-table td {
    height:35px;

}


.pagination {
    text-align : center;

}


.tile {
    background-color: #EFF0F2;
    border-radius: 6px 6px 6px 6px;
    padding: 14px;
    position: relative;
    text-align: center;
}

.tile-image.big-illustration {
}

.tile-image {
    height: 35px;
    margin-top: 15px;
    margin: 20px 0 27px;
    vertical-align: bottom;
}

.tile-title {
    font-size: 20px;

    margin-bottom: 25px;
}

.tile p {
    font-size: 15px;
    margin: 0;
}

.tile.tile-hot:before {
    background: url("http://designmodo.github.io/Flat-UI/css/../images/tile/ribbon.png") no-repeat scroll 0 0 / 82px 82px transparent;
    content: "";
    height: 82px;
    position: absolute;
    right: -4px;
    top: -4px;
    width: 82px;
}

.symbol-perfect:before {
    content: "\e036";
}
.symbol-good:before {
    content: "\e006";
}
.symbol-bad:before {
    content: "\e017";
}

.symbol-good,
.symbol-perfect,
.symbol-bad {
    display: inline-block;
    font-family: 'Flat-UI-Icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}


.date-width {
    width:50px;
}

.firm-width {
    width:75px;

}
