/*.registrations #main{

    padding:30px 0;
    margin: 20px;
}
.sessions #main{

    padding:30px 0;
    margin: 20px;
}
*/


/*

@media (min-width: 768px) {

    #tabbar{
        display: none !important;
    }
    .content{
    }

}


@media (max-width: 767px) {
    body{
        font-size:11px;
        padding : 0;

    }
    .app-info{
        padding:10px;
    }
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin:0;

    }
    .navbar{
        position:fixed;
        top:0;

    }
    .navbar .brand{
        margin: 0 0 0 0;

    }
    table td{
        padding:5px;
    }

    .small-font{
        font-size:8px;

    }
    #main{
        padding-left: 5px;
        padding-right: 5px;
        padding-top:35px;
        padding-bottom:40px;
    }
    .content{
        background-color: white;
    }

    .table thead th {background-color:#f8f3ee !important}
    .dataTables_wrapper th.sorting_asc,.dataTables_wrapper th.sorting_desc {background-color:#eee2d6 !important}



    #tabbar{
        display: block;
    }

    .btn-group + .btn-group{
        margin-left:2px;
    }

}


.full-width{
    width:100%;
}

.half-width{
    width:50%;
}


.stock-up {
    color : red;
}

.stock-down {
    color : blue;
}

.rank-item  {
    padding: 9px;
    border-radius : 3px;
    background-color : #f5f5f5;

    min-height: 20px;
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.rank-item .description {
    /*padding-left:10px;
      */           /*
}
.rank-item h5
{
    line-height : 0;

}

.param
{
    color: #0088cc;
    font-weight:bold;
}

/*
  네비게이션 바


*/    /*

.navbar .brand {
    color: white;
    text-shadow: none;

}
.navbar .nav > li > a {
    text-shadow: none;

}
.navbar-inner {
    background: #9b6e3b;
    background: -moz-linear-gradient(top,  #9b6e3b 0%, #76542d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9b6e3b), color-stop(100%,#76542d));
    background: -webkit-linear-gradient(top,  #9b6e3b 0%,#76542d 100%);
    background: -o-linear-gradient(top,  #9b6e3b 0%,#76542d 100%);
    background: -ms-linear-gradient(top,  #9b6e3b 0%,#76542d 100%);
    background: linear-gradient(top,  #9b6e3b 0%,#76542d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b6e3b', endColorstr='#76542d',GradientType=0 );
}
.navbar .nav > li > a {
    color: #efe3d5;
}
.navbar .nav > li:hover > a {
    color:#fff;
    text-shadow: none;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background: #76542d !important;
}
.navbar .divider-vertical {
    border-left-color:#76542d;
    border-right-color:#bb884e;
}
.dropdown-menu li > a:hover, .dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.nav-list > .active > a, .nav-list > .active > a:hover {
    background: #b47f44 !important;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    background: #b47f44 !important;
    border-color:#b47f44 !important;
}

.content {
    background-color: white;
    box-shadow : none;



}
    -webkit-mask-image: url(data:image/png;base64\,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAQAAAHn8iFvAAAACXBIWXMAAAsTAAALEwEAmpwYAAADGWlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjaY2BgnuDo4uTKJMDAUFBUUuQe5BgZERmlwH6egY2BmYGBgYGBITG5uMAxIMCHgYGBIS8/L5UBA3y7xsDIwMDAcFnX0cXJlYE0wJpcUFTCwMBwgIGBwSgltTiZgYHhCwMDQ3p5SUEJAwNjDAMDg0hSdkEJAwNjAQMDg0h2SJAzAwNjCwMDE09JakUJAwMDg3N+QWVRZnpGiYKhpaWlgmNKflKqQnBlcUlqbrGCZ15yflFBflFiSWoKAwMD1A4GBgYGXpf8EgX3xMw8BUNTVQYqg4jIKAX08EGIIUByaVEZhMXIwMDAIMCgxeDHUMmwiuEBozRjFOM8xqdMhkwNTJeYNZgbme+y2LDMY2VmzWa9yubEtoldhX0mhwBHJycrZzMXM1cbNzf3RB4pnqW8xryH+IL5nvFXCwgJrBZ0E3wk1CisKHxYJF2UV3SrWJw4p/hWiRRJYcmjUhXSutJPZObIhsoJyp2V71HwUeRVvKA0RTlKRUnltepWtUZ1Pw1Zjbea+7QmaqfqWOsK6b7SO6I/36DGMMrI0ljS+LfJPdPDZivM+y0qLBOtfKwtbFRtRexY7L7aP3e47XjB6ZjzXpetruvdVrov9VjkudBrgfdCn8W+y/xW+a8P2Bq4N+hY8PmQW6HPwr5EMEUKRilFG8e4xUbF5cW3JMxO3Jx0Nvl5KlOaXLpNRlRmVdas7D059/KY8tULfAqLi2YXHy55WyZR7lJRWDmv6mz131q9uvj6SQ3HGn83G7Skt85ru94h2Ond1d59uJehz76/bsK+if8nO05pnXpiOu+M4JmzZj2aozW3ZN6+BVwLwxYtXvxxqcOyCcsfrjRe1br65lrddU3rb2402NSx+cFWq21Tt3/Y6btr1R6Oven7jh9QP9h56PURv6Obj4ufqD355LT3mS3nZM+3X/h0Ke7yqasW15bdEL3ZeuvrnfS7N+/7PDjwyPTx6qeKz2a+EHzZ9Zr5Td3bn+9LP3z6VPD53de8b+9+5P/88Lv4z7d/Vf//AwAqvx2K829RWwAAACBjSFJNAAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAAGdUlEQVR42pTNsQ1AUAAG4e+JKUQs8HbRiBVMI6ZUGoH8CtHoXH2XK/GfEcTTTjAjBrHaX69TQdsgNr3L4nCW7/YGAAD//2LE7o6VqFyoIiYEk+E/AwMTw38GBob/DIwM/xkaGf4zMLgzMDAwMGgxSMGUXGOIYlBlsGWYz/AfzSIAAAAA//+Uz7EJgEAUBNF3ZyViEZZjQ4LYjgVZgkbHNzlEURCjhUl2Jv3rD+0TNheZuJvSnTgwCyH0iIQivx6N1lxLByQs2Otupg/zAwAA//+kkS0SglAUhT8IJHADBgpGC1Eji7CwEpLV5laMVhdAgehoYFgAjXYM9/nmjYVhLPfvzDn3zrkLcLzu468lW9aIx46T/HDFxoopAORNtdjBE2gc8DXWqi07OCNEihBd4H5rCgcuniveCHEP1pC5c1IK9hS+Ly2dEFfEEOyujR25wY0HPSMzGTklFUcg+u8lHwAAAP//xNQxSoNBEAXgL2ChIBKCCmIKCRaKaKONR7C19wZiCu/gQSxFL2AhCDYiGCKxsNHGKoJYqCBExiJ/zP4xRfI37ja7w7xhZ957Wyri1IJ0j74WhHBavMDl6NbLD2BbCK0/ORPDwJM6yW33l/67JPpparBWDawn6tgXQlNdCI1Eor0Rf3czj4UdXCdiC5H1WxmIHuCw3+Ke85z0O4naaWTnq5xBLpyllIy7t/p9n4wFPOq+qpTB563ZsKmqYtbiEC4+vHrRdqvpxlMKhhmrVixbUjWnbDr7J768e9P27NGDe63esP7PGD/k1s9LVFEUB/CP1gRiZWSCC2lhFOiiFm2ilRtb+icEQotwXxAtsnYRUes2bYTaFwQtDGohBRPBYPbDIAwSpRGasmnM4bbweefdGTGZjYvOW7xzzznfd8798b7n7l7m3QNvJ91WXNh2wf7ZQzraK/saau0XXm8felIwu7PQB4JHLXyVnqF7WdNqkS+Cxdx4dAsGey4kPJd8d7Ilb5p7wp0Usmwi014L7mf6+Rz4TWabFDyOuA/OpjehIJjK6eN+Rf91QbCUdBM9ik2FPnRREJyL1heuNE1ixu20UzQz1YasbWENgtPplgSfcKkJvDm6muk96TKGSPhTGIjhdxOwGDWdv/8EN2JILSmxlIyeRu1Wg3rbY6IO9mLMOx8TR8FB+3Up4I+qVRVrOf8RZzbVJ8rZfu7sqXm2kawTP733Mvfjr0YCaLwXIGsCFQW/8+5hpwwbVden1+GWGa777puaV0qKig3wTZdB2VvzFny1ZMUPVes67dPtkD79Bgw6bii7q4ykDHXMkBMGHdWv1wFd9qCuqqJs0Wfz5pQs/88d4y975vPaRBTE8U9+YEhMLIltEkU0CELBghcVDwVF8eKxHioi3nrwIogHb15qjxYrWr0IVqEgUVAv9g/IVUq9qKEqVBOxsU2TJTQ1zT4P+/Kyu9mtocbgITOXvJl5b/bN2503881f7fm/vOd6jjtFb1RaONtNt1FTPnrY7T2PUCNDqvvBnkMgJDjSIfJxhwzTBLawybRxxl7uMk+aRHtuA6bz2+ViM2+5dc64WK0ri0PtuT5BHsEvhlz02ZYL7zTOHWkRwXf34wg67Ow+AsEjl/KwlU+12BngyK2t22yB4IAl3JqSz1isC67X/MkWp82GuUl7pVyDi6whmLCoz9sWnZWPU1aSrLQcQrftetw2196KvkcguGYMXiDQOK6UTxx2lOaT+v3TtNBRJdV57TBvxFSzryEQDDcnTymzyxL6MkZfuc2sw2JzJscRh7pr0fSQRj3/VI03iTcnX5XwSVZCCUZZfEPpN2wL19mtdKM23VuleScPJSdhkgUEQlZ4ks4heABA2rLIdRIcsX215th4uOegudDSlDRe0RkEk2bHh7eFi2yPR+39bpAkSfaQJM4A/USJECZMiCABWdy2SzWqVNDQKLHKMj/Ik+MbOVbsjfYyAyrRFVmhiEaVJVYpUaKMRoUK61TZoEadOrqc78WLHz872EmIAGEi9NFHlEH8BIgRI2bK1wFLf0AawRgwpkIyTpznphBNWXBYgc6kvKEafIVLpvz8Ur47Bk8DB23tLwATVFtOQ7eMHss02uAqN3lmkWQUIOzG9eY/Ex71cR/jI1/IU/gjnuDDjw8vPjwIdHTqbLq17irACfYzSIFXhqABdC4QIsUwKVLso7/DRUOZJT6zSJYPvYK+5/if0+8BAIZT3tCZxgzIAAAAAElFTkSuQmCC



*/