
/* Image loading gif */
#loading {
    display:none;
    -webkit-border-radius: 10px;
    background-color: rgba(0,0,0,.3);
    left: 20px;
    right: 20px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 38%;
    height: 80px;
    width: 80px;
    z-index: 999;
}

#loading img{
    margin-top: 24px;
    margin-right: auto;
    text-align:center;
    border: 0px !important;
    height: 32px;
    width: 32px;
    /**background-color: transparent !important;**/
}