@media (min-width: 768px) {

    #tabbar{
        display: none !important;
    }
    .content{

    }

}


@media (max-width: 767px) {
    body{
        font-size:11px;
        padding : 0;

    }
    .app-info{
        padding:10px;
    }
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin:0;

    }
    .navbar{
        position:fixed;
        top:0;

    }
    .navbar .brand{
        margin: 0 0 0 0;

    }
    table td{
        padding:5px;
    }

    .small-font{
        font-size:8px;

    }
    #main{
        padding-left: 5px;
        padding-right: 5px;
        padding-top:35px;
        padding-bottom:40px;
    }
    .content{
        background-color: white;
    }

    .table thead th {background-color:#f8f3ee !important}
    .dataTables_wrapper th.sorting_asc,.dataTables_wrapper th.sorting_desc {background-color:#eee2d6 !important}



    #tabbar{
        display: block;
    }

    .btn-group + .btn-group{
        margin-left:2px;
    }

}


.full-width{
    width:100%;
}

.half-width{
    width:50%;
}


.stock-up {
    color : red;
}

.stock-down {
    color : blue;
}

.rank-item  {
    padding: 9px;
    border-radius : 3px;
    background-color : #f5f5f5;

    min-height: 20px;
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.rank-item .description {
    /*padding-left:10px;
      */
}
.rank-item h5
{
    line-height : 0;

}

.param
{
    color: #0088cc;
    font-weight:bold;
}
/*
  네비게이션 바


*/

.navbar .brand {
    color: white;
    text-shadow: none;

}
.navbar .nav > li > a {
    text-shadow: none;

}
.navbar-inner {
    background: #9b6e3b;
    background: -moz-linear-gradient(top,  #9b6e3b 0%, #76542d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9b6e3b), color-stop(100%,#76542d));
    background: -webkit-linear-gradient(top,  #9b6e3b 0%,#76542d 100%);
    background: -o-linear-gradient(top,  #9b6e3b 0%,#76542d 100%);
    background: -ms-linear-gradient(top,  #9b6e3b 0%,#76542d 100%);
    background: linear-gradient(top,  #9b6e3b 0%,#76542d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b6e3b', endColorstr='#76542d',GradientType=0 );
}
.navbar .nav > li > a {
    color: #efe3d5;
}
.navbar .nav > li:hover > a {
    color:#fff;
    text-shadow: none;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background: #76542d !important;
}
.navbar .divider-vertical {
    border-left-color:#76542d;
    border-right-color:#bb884e;
}
.dropdown-menu li > a:hover, .dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.nav-list > .active > a, .nav-list > .active > a:hover {
    background: #b47f44 !important;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    background: #b47f44 !important;
    border-color:#b47f44 !important;
}
