<!-- itabbar -->
<nav id="tabbar">
  <ul >
    <!-- Action & navigation -->
    <li><a href="/" class="<%= if current_page?(:controller => '/stock_firms') then "current" end %> flip"><strong>홈</strong><div class="home"></div></a></li>
    <li><a href="/" class=""><strong>증권사순위</strong><div class="home"></div></a></li>
    <li><a href="/recommendations" class="<%= "current" if current_page?(:controller => '/recommendations') %> flip"><strong>최근종목추천</strong><div class="rss"></div></a></li>
    <li><a href="#" class="flip"><strong>관심증권사</strong><div class="page"></div></a></li>
    <li><a href="/app_info" class="<%= if current_page?(:controller => '/app_info') then "current" end %> flip"><strong>증권사추천왕?</strong><div class="infos"></div></a></li>

  </ul>
</nav>
